
# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

.loadpath
.recommenders
*.class

# Locally stored "Eclipse launch configurations"
*.launch

# Annotation Processing
.apt_generated/

# Annotation Processing
.apt_generated

# End of https://www.gitignore.io/api/eclipse